@CHARSET "UTF-8";

.btn {
	padding: 0;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	-webkit-appearence: button;
	font-size: 0;
	-webkit-text-size-adjust: none;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	-ms-transition: .1s linear all;
	-o-transition: .1s linear all;
	transition: .1s linear all;
	outline-offset: -4px
}

.btn::-moz-focus-inner {
	padding: 0;
	border: none
}

.btn:link,.btn:hover,.btn .b-txt,.btn .icon .btn:active,.btn:visited {
	text-decoration: none !important
}

.btn strong {
	font-weight: bold
}

.btn .icon {
	margin-right: 3px;
	width: 16px;
	height: 16px;
	margin-bottom: -1px; #
	margin: 0
}

.btn .b-txt {
	font-size: 12px;
	position: relative;
	top: 1px\9;
	_top: 0; #
	zoom: 1
}

.btn,.btn .button,.btn .icon,.btn .b-txt {
	display: inline-block;
	line-height: 1.333;
	vertical-align: middle;
	cursor: pointer; #
	cursor: hand;
	font-weight: normal
}

button.button:hover,.btn:hover .button {
	background-position: 0 -15px;
	text-decoration: none
}

.active .button,.btn:active .button {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .25), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .25), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .25), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn .button {
	white-space: nowrap;
	word-wrap: normal;
	color: #555;
	margin: 0;
	width: auto;
	height: auto;
	border: 0 none;
	padding: 3px 16px 5px;
	padding-top: 4px\9;
	padding-bottom: 4px\9;
	background-repeat: no-repeat
}

.btn .b-txt {
	font-size: 12px
}

.btn-large .button {
	padding: 5px 20px 6px;
	padding-bottom: 5px\9;
	padding-top: 4px\9
}

.btn-small .button {
	padding: 2px 10px 3px; #
	padding: 3px 10px 3px
}

.btn-large .b-txt {
	font-size: 14px
}

.btn {
	border-color: #ccc #ccc #ccc #c0c0c0
}

.btn .button {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), color-stop(25%, #fcfcfc), to(#efefef) );
	background-image: -webkit-linear-gradient(#fcfcfc, #fcfcfc 25%, #efefef);
	background-image: -moz-linear-gradient(top, #fcfcfc, #fcfcfc 25%, #f2f2f2);
	background-image: -ms-linear-gradient(#fcfcfc, #fcfcfc 25%, #f2f2f2);
	background-image: -o-linear-gradient(#fcfcfc, #fcfcfc 25%, #f2f2f2);
	background-image: linear-gradient(#fcfcfc, #fcfcfc 25%, #f2f2f2);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = '#fcfcfc', endColorstr = '#f2f2f2', GradientType = 0 )
}

.btn .button,.btn .button:visited {
	color: #555
}

.btn-active .button,.btn-active .button:visited {
	color: #fff
}

.btn-active {
	border-color: #363a40;
	border-radius: 0
}

.btn-active .button {
	background-color: #363a40;
	background-image: url(about:blank);
	filter: none
}

.btn-green .button,.btn-green .button:visited {
	color: #fff
}

.btn-green {
	border-color: #519428 #438818 #357d09
}

.btn-green .button {
	background-color: #559c28;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68b83d), color-stop(25%, #68b83d), to(#559c28) );
	background-image: -webkit-linear-gradient(#68b83d, #68b83d 25%, #559c28);
	background-image: -moz-linear-gradient(top, #68b83d, #68b83d 25%, #559c28);
	background-image: -ms-linear-gradient(#68b83d, #68b83d 25%, #559c28);
	background-image: -o-linear-gradient(#68b83d, #68b83d 25%, #559c28);
	background-image: linear-gradient(#68b83d, #68b83d 25%, #559c28);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = '#68b83d', endColorstr = '#559c28', GradientType = 0 )
}

.btn-black .button,.btn-black .button:visited {
	color: #fff
}

.btn-black {
	border-color: #2b2e33
}

.btn-black .button {
	background-color: #42474d;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#535961), color-stop(25%, #535961), to(#42474d) );
	background-image: -webkit-linear-gradient(#535961, #535961 25%, #42474d);
	background-image: -moz-linear-gradient(top, #535961, #535961 25%, #42474d);
	background-image: -ms-linear-gradient(#535961, #535961 25%, #42474d);
	background-image: -o-linear-gradient(#535961, #535961 25%, #42474d);
	background-image: linear-gradient(#535961, #535961 25%, #42474d);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = '#535961', endColorstr = '#42474d', GradientType = 0 )
}

.disabled,.disabled .button {
	cursor: default;
	background-image: none;
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled = false );
	filter: alpha(opacity = 75);
	-khtml-opacity: .75;
	-moz-opacity: .75;
	opacity: .75;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.disabled:hover .button {
	background-position: 0 0;
	cursor: default
}

a.disabled,.disabled .button,.disabled .icon,.disabled .b-txt {
	cursor: default !important;
	color: #A0A0A0
}
